.App {
  font-family: sans-serif;
  background-color: gray;
}

body {
  margin: 0;
  background-color: #0a0a0a;
}
/* 
.player-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: gray;
} */

/* .top-column {
  display: flex;
} */

/* .left-column {
  display: flex;
}

.right-column {
  display: flex;
  flex-direction: column;
  gap: 20px;
} */
